/* Blog*/


/* Новости */


.desc {
    margin-right: 10px;
    margin-left: 10px;
    max-width: 380px;
}
.blog-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -10px 14px -10px;
}
.blog-item{
    width: 380px;
    margin: 0 10px 26px 10px;
}

/* main Время Новости */
.p-time {
    margin-top: 15px;
    margin-bottom: 9px;
    color: #818181;
    mix-blend-mode: normal;
}

/* main  Заголовки Новостей */
.desc-title {
    margin-bottom: 18px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #1E0606;
}
.desc-title:hover,
.desc-title:active,
.desc-title:focus {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

/* main Описание Новостей */
.desc-text {
    font-size: 18px;
    line-height: 25px;
    color: #1E0606;
}