
/* Каталог */

/* Шапка */


.tagline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
}
.category-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; 
}
.category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

/* Продукты-Картинки */
.list-item-1 {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #DBE4DB;
    
}
.item-1-text {
    position: absolute;
    display: inline-block;
    top: 103px;
    right: 76px;
    width: 129px;
}    
.list-item-2 {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #EADDD3;
}
.item-2-text {
    position: absolute;
    display: inline-block;
    top: 103px;
    right: 76px;
    width: 129px;
}
.list-item-3 {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #F8F2DA;
}
.item-3-text {
    position: absolute;
    display: inline-block;
    top: 119px;
    right: 76px;
    width: 129px;
}
.list-item-4 {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #D5D4E1;
}
.item-4-text {
    position: absolute;
    display: inline-block;
    top: 118px;
    right: 105px;
    width: 129px;
}
.list-item-5 {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #F3D0DB;
}
.item-5-text {
    position: absolute;
    display: inline-block;
    top: 119px;
    right: 77px;
    width: 129px;
}    
.list-item-6 {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #E5EAF8;
}
.item-6-text {
    position: absolute;
    display: inline-block;
    top: 103px;
    right: 76px;
    width: 129px;
}
.block {
    margin-left: 200px;
    margin-top: 19px;
}

.category-slide-wrapper {
    margin-left: 20px;
}

/* Описание продукта */

.preview {
    margin-left: 200px;
    margin-top: 53px;
    width: 680px;
}
.history-delivery-interactive {
    margin-top: 23px;
}
.history-delivery-toy {
    margin-top: 15px;
    margin-bottom: 15px;
}
.history-delivery-miniature {
    margin-bottom: 55px;
}