/* ContactUs  */


/* main Форма Текст */
.form-text {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}

/* main Форма общее */

/* Форма */
.form-section {
    margin-bottom: 60px;
}
.form-section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contact-form {
    padding: 42px 40px;
    background-color: #7d97da33;
}
.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.form-block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.form-name-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.lable-name {
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}
.form-input:hover,
.form-input:focus {
    border: 2px solid #0000004d;
    outline: 0px;
}
.form-phone-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 20px;
}
.lable-phone {
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}
.form-input {
    padding: 0px 20px;
    width: 290px;
    height: 50px;
    border: 2px solid #00000033;
}
.input-name {
    width: 600px;
}
.input-name::-webkit-input-placeholder,
.input-name::-moz-placeholder,
.input-name:-ms-input-placeholder,
.input-name::placeholder {
    color: #1E0606;
}
.form-email-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.lable-email {
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}
.form-message-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.lable-message {
    margin-bottom: 3px;
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}
.input-message {
    padding: 0px 20px;
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
    height: 150px;
}
.checkbox-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 17px;
    border: none;
}
.checkbox-wrapper:focus-within{
    outline: solid 2px #000;
}
.checkbox-wrapper input {
    margin-right: 15px;
}
.input-checkbox {
    margin-left: 34px;
    font-size: 14px;
    line-height: 19px;
}
/* Чек-бокс */
.checkbox-label{
    position: relative;
    cursor: pointer;
    width: 540px;
}
.checkbox-label::before {
    content: '';
    position: absolute;
    left: -34px;
    top: -2px;
    width: 19px;
    height: 19px;    
    border: 2px solid #C29974;
    border-radius: 3px;
    background-color: transparent;
}
.checkbox-label::after {
    content: '';
    position: absolute;
    left: -31px;
    top: -1px;
    width: 15px;
    height: 16px;  
    background-image: url('../img/checkbox/Vector\ 1.svg');
    opacity: 0;
    background-repeat: no-repeat;
}
.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
}
.checkbox-input:disabled + .checkbox-label::before {
    background-image: url('../img/checkbox/Vector\ 1.svg');
    opacity: .5;
}
.checkbox-input:disabled + .input-checkbox {
    color: #908484;
    cursor: auto;
}


/* Текст */
.text-wrapper {
    margin-left: 120px;
    width: 380px;
}
.section-text {
    margin: 20px 0px;
}
.button-form {
    border: none;
    width: 106px;
    height: 40px;
}