 /* Общие стили для всего сайта */

 *, *::after, *::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 110px;
}
p, h1, h2, h3, h4 {
    margin: 0;
}
button {
    cursor: pointer;
}

 /* Fonts */

 body { 
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606; 
}
a {
    text-decoration: none;
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* header */

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header-logo {
    height: 52px;
    width: 100px;
}
.header-logo:hover,
.header-logo:focus {
    opacity: 0.5;
}
.header-logo:active {
    opacity: 0.2;
}
.nav-item {
    color: #1E0606;
}
.nav-item:hover,
.nav-item:focus {
    opacity: 0.5;
}
.nav-item:active {
    opacity: 0.2;
}


/* Навигация */

.menu-nav {
    margin-left: 60px;
    margin-right: auto;
}
.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.menu-item {
    margin-right: 20px;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}
.menu-item:last-child {
    margin-right: 0px;
}



/* Поиск, Контакт ас Main*/

.header-search {
    margin-right: 18px;
}
.header-search:hover,
.header-search:focus  {
    opacity: 0.5;
}
.header-search:active {
    opacity: 0.2;
}
.contact-us {
    margin-right: -4px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1E0606;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.contact-us:hover,
.contact-us:focus  {
    opacity: 0.5;
}
.contact-us:active {
    opacity: 0.2;
}


/* Имя страниц и стрелка . Путь перехода*/

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 17px;
    margin-bottom: 50px;
}
/* Карусель 2 страниц: Toys и Blog */
.pagination {
    margin-top: 10px;
    margin-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.button-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.btn-pagination-number {
    margin-right: 64px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    background: none;
    border: none;
    cursor: pointer;
}
.btn-pagination-number:hover,
.btn-pagination-number:focus {
    opacity: 0.5;
}
.btn-pagination-number:active {
    color: #C29974;
}
.btn-pagination-list {
    margin-right: 64px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1E0606;
    background: none;
    border: none;
    cursor: pointer;
}
.btn-pagination-list:hover,
.btn-pagination-list:focus {
    opacity: 0.5;
    cursor: pointer;
}
.btn-pagination-list:active {
    color: #C29974;
}
/* карусель стрелки */
.arrow-pagination {
    width: 32px;
    height: 40px;
    background: none;
    background-image: url('../img/arrows/arrowright.png');
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}
.arrow-pagination:hover,
.arrow-pagination:focus {
    background-image: url('../img/arrows/arrowright\ 2.png');
}
.arrow-pagination:active {
    background-image: url('../img/arrows/arrowright\ 2.png');
    opacity: .5;
}
.arrow-pagination-left {
    background-image: url('../img/arrows/arrowright.png');
    -webkit-transform: rotate( 180deg);
        -ms-transform: rotate( 180deg);
            transform: rotate( 180deg);
    background-repeat: no-repeat;

}

/* footer */

.footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 100px;
    padding-left: 0px;
    padding-right: 0px;
    
}
.footer-star-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 100px;
    padding-top: 23px;
    margin-top: 14px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    border-top: 1px solid #666666;
}
.footer-info-name {
    padding-bottom: 23px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #AAAAAA;
    border-bottom: 1px solid #666666;
}

/* footer заголовки  */
.footer-title {
    position: relative;
    width: 380px;
    margin-right: 1px;
}
.footer-title-wrapper{
    width: 33%;
    margin-left: 8px;
}

/*  */
ul.items-link {
    margin-top: 25px;
    
}
div.items-link {
    margin: 0 1px;
    width: 34%;
}

.items-link a,
.items-link p {
    font-weight: normal;
    color: #FFFFFF;
}
.items-link a:hover,
.items-link a:focus {
    opacity: 0.5;
}
.items-link a:active {
    opacity: 0.2;
}
.items-link li {
    margin: 15px 0px;
}
.footer {
    background-color: #434343;
}
.footer-btn {
    padding: 0px;
    width: 81px;
    height: 40px;
    border: none;
}
a.items-link-info {
    color: #A2A2A2;
}
a.items-link-info:hover,
a.items-link-info:focus {
    color: #FFFFFF;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}
.items-link button {
    background: transparent;
    border: none;
}
.footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
}
.email-input-footer {
    padding: 9px 11px;
    width: 299px;
    height: 40px;
    border: 1px solid transparent;
    background-color: #666666;
}
.email-input-footer::-webkit-input-placeholder,
.email-input-footer::-moz-placeholder,
.email-input-footer:-ms-input-placeholder,
.email-input-footer::-ms-input-placeholder,
.email-input-footer::placeholder {
    color: #EBEBEB;
}
.email-input-footer:active,
.email-input-footer:focus,
.email-input-footer:hover {
    border: 1px solid #FFFDFD;
    outline: 0px;
}
.line-footer {
    position: relative;
}

/* ЗВЕЗДЫ */
.rating-caption {
    font-weight: normal;
    color: #FFFFFF;
}
.rating {
    margin: 0;
    padding: 0;
    border: none;
}
.rating-group:focus-within {
    outline: solid 2px #000;
}
.rating-star {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    width: 18px;
    height: 17px;
    background-size: 17px auto;
    font-weight: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
.rating-star:focus {
    outline: none;  
}
.rating-star:checked,
.rating-star:hover {
    background-image: url('../img/footer/Star3activ.svg');
    background-size: 18px auto;
}
.rating-star:hover ~ .rating-star {
    background-image: url('../img/footer/Star.svg');
    background-size: 18px auto;
}
.rating-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: -18px;
    right: -153px;
    width: 90px;
    height: 17px;
    background-image: url('../img/footer/Star.svg');
    background-size: 18px auto;
}
.rating-star:nth-of-type(1) {
    z-index: 5;
    width: 18px;
}
.rating-star:nth-of-type(2) {
    z-index: 4;
    width: 36px;
}
.rating-star:nth-of-type(3) {
    z-index: 3;
    width: 54px;
}
.rating-star:nth-of-type(4) {
    z-index: 2;
    width: 72px;
}
.rating-star:nth-of-type(5) {
    z-index: 1;
    width: 90px;
}


/* Разное */
.btn {
    text-align: center;
    padding: 9px 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}
.btn:hover,
.btn:focus  {
    background-color:#C29974;
}
.btn:active {
    background-color:#CFAF91;
}
.btn:disabled {
    color: #E1E1E1;
    background-color:#C1C1C1;
    cursor: auto;
}
.subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
}
.caption {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
}

.category-product{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.category-product:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    text-shadow: 0px 0px 40px #93030340;
}
.main-heading {
    position: relative;
    margin-right: 48px;
    font-family: Crimson Text, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
}
.main-heading::before {
    content: '';
    position: absolute;
    top: 4px;
    right: -29px;
    width: 8px;
    height: 12px;
    background-image: url('../img/arrows/arrows-catalog.png');
    background-repeat: no-repeat;
}
.main-heading-transparent{
    font-family: Crimson Text, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #1E0606;
    opacity: 0.5;
}


/* Социальные сети */
.social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 25px;
}
.social-link {
    margin-left: 10px;
}
.social-link:first-child {
    margin-left: 0px;
}
.social-link:hover,
.social-link:focus {
    opacity: 0.5;
}
.social-link:active {
    opacity: 0.2;
}


/* картинки */
.pictures {
    display: block;
    max-width: 100%;
}
