    <h4 class="visually-hidden">pagination</h4>
    <button type="button" class="arrow-pagination arrow-pagination-left"></button>
    <ul class="button-pagination">
        <li><button class="btn-pagination-number" type="button">1</button></li>
        <li><button class="btn-pagination-list" type="button">2</button></li>
        <li><button class="btn-pagination-list" type="button">3</button></li>
        <li><button class="btn-pagination-list" type="button">4</button></li>
    </ul>
    <button type="button" class="arrow-pagination"></button>