<div class="@@class__rating-list">
    <input type="radio" name="rating" value="1" class="@@classInput__rating-input" aria-label="Very bad">
    <input type="radio" name="rating" value="2" class="@@classInput__rating-input" aria-label="Bad">
    <input type="radio" name="rating" value="3" class="@@classInput__rating-input" aria-label="Normal">
    <input type="radio" name="rating" value="4" class="@@classInput__rating-input" aria-label="Good">
    <input type="radio" name="rating" value="5" class="@@classInput__rating-input" aria-label="Fine">
</div>