.btn {
    text-align: center;
    padding: 9px 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}
.btn:hover,
.btn:focus  {
    background-color:#C29974;
}
.btn:active {
    background-color:#CFAF91;
}
.btn:disabled {
    color: #E1E1E1;
    background-color:#C1C1C1;
    cursor: auto;
}
.button-slide {
    padding: 0px;
    margin-top: 20px;
    width: 161px;
    height: 40px;
    border: none;
  }