.popup-contact {
    display: none;
    position: fixed;
    top: 113px;
    left: 50%;
    margin-left: -360px;
    z-index: 1;
  
}
.popup-contact-open {
    display: block;
}
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7d97dacc;
    z-index: 0;
}
.popup-overlay.show {
    display: block;
}


/* main Форма Текст */
.form-text {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
}


/* main Форма общее */

/* Форма */
.form-section {
    margin-bottom: 60px;
}
.form-section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contact-form {
    padding: 42px 40px;
    background-color: #E5EAF8;
}
.form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.form-block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.form-name-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.lable-name {
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
}
.form-phone-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 20px;
}
.lable-phone {
    margin-bottom: 3px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
}
.form-input {
    padding: 0px 20px;
    width: 290px;
    height: 50px;
    border: 2px solid #00000033;
}
.form-input:hover,
.form-input:focus {
    border: 2px solid #0000004d;
    outline: 0px;
}
.input-name {
    width: 600px;
}
.form-email-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.lable-email {
    margin-bottom: 3px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
}
.form-message-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.lable-message {
    margin-bottom: 3px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
}
.input-message {
    padding-top: 14px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    width: 600px;
    height: 150px;
}
.checkbox-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
    margin-top: 20px;
    margin-bottom: 17px;
    border: none;
}
.checkbox-wrapper input {
    margin-right: 15px;
}
.input-checkbox {
    margin-left: 34px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
}
/* Чек-бокс */

.checkbox-label{
    position: relative;
}
.checkbox-label::before {
    content: '';
    position: absolute;
    left: -34px;
    top: -2px;
    width: 19px;
    height: 19px;    
    border: 2px solid #C29974;
    border-radius: 3px;   
}
.checkbox-label::after {
    content: '';
    position: absolute;
    left: -31px;
    top: -1px;
    width: 15px;
    height: 16px;  
    background-color:  transparent;
    background-image: url('/static/images/popup/Vector\ 1.svg');
    opacity: 0;
    background-repeat: no-repeat;
}

.checkbox-input:checked + .checkbox-label::after {
    opacity: 1;
    cursor: pointer;
}
.checkbox-input:disabled + .checkbox-label::before { 
    background-image: url('/static/images/popup/Vector\ 1.svg');
    opacity: 0.5;
    cursor: auto;
}
.checkbox-input:disabled + .input-checkbox {
    color: #908484;
    cursor: auto;
    text-decoration-line: none;
}
.checkbox-wrapper:focus-within{
    outline: solid 2px #000;
}

/* Крестик */
.popup-contact-btn {
    position: absolute;
    top: 0px;
    right: 80px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-image: url('/static/images/popup/cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}
.popup-contact-btn:hover {
    background-image: url('/static/images/popup/cross2.svg');
}
.popup-contact-btn:active {
    background-image: url('/static/images/popup/cross3.svg');
}
.popup-contact-btn:focus-within {
    outline: solid 2px #000;
}
