<section class="desc-section">
    <h4 class="visually-hidden">Новости</h4>
    <ul class="blog-list">
    @@include('blog/blog-desc/index.html',{
    "desc-url":"#",
    "desc-pic":"/static/images/blog/desc1.jpg",
    "desc-data":"23rd August 2018",
    "desc-title":"Top 5 fastest growing it service companies in philly",
    "desc-text":"Direct Line Development’s Team is excited to announce that we received UpCity’s 2019 Local Excellence Award! This prestigious award is annually presented to the Top 1% of service providers in the given marketplace."
    })
    @@include('blog/blog-desc/index.html',{
    "desc-url":"#",
    "desc-pic":"/static/images/blog/desc2.jpg",
    "desc-data":"23rd August 2018",
    "desc-title":"Best financial",
    "desc-text":"Direct Line Development is honored to be recognized as one of the Top 100 Fastest Growing Companies 2019 in Philadelphia, according to Growjo’s ranking."
    })
    @@include('blog/blog-desc/index.html',{
    "desc-url":"#",
    "desc-pic":"/static/images/blog/desc3.jpg",
    "desc-data":"23rd August 2018",
    "desc-title":"Company logo or brand identity: which one is more important? brand identity",
    "desc-text":"To survive in the world of digital marketing, you need to keep up with the latest SEO trends. Here are our simple, but effective, SEO tips for small business success."
    })
    @@include('blog/blog-desc/index.html',{
    "desc-url":"#",   
    "desc-pic":"/static/images/blog/desc4.jpg",
    "desc-data":"23rd August 2018",
    "desc-title":"Best financial",
    "desc-text":"Direct Line Development is honored to be recognized as one of the Top 100 Fastest Growing Companies 2019 in Philadelphia, according to Growjo’s ranking."
    })
    @@include('blog/blog-desc/index.html',{
    "desc-url":"#",
    "desc-pic":"/static/images/blog/desc5.jpg",
    "desc-data":"23rd August 2018",
    "desc-title":"Company logo or brand identity: which one is more important? brand identity",
    "desc-text":"To survive in the world of digital marketing, you need to keep up with the latest SEO trends. Here are our simple, but effective, SEO tips for small business success."
    })
    @@include('blog/blog-desc/index.html',{
    "desc-url":"#",
    "desc-pic":"/static/images/blog/desc6.jpg",
    "desc-data":"23rd August 2018",
    "desc-title":"Top 5 fastest growing it service companies in philly",
    "desc-text":"Direct Line Development’s Team is excited to announce that we received UpCity’s 2019 Local Excellence Award! This prestigious award is annually presented to the Top 1% of service providers in the given marketplace."
    })
    </ul>
</section>