.category-wrapper {
    display: flex;
    flex-wrap: nowrap; 
}
.category-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.block {
    margin-left: 200px;
    margin-top: 19px;
}