<section class="category">
    <div class="category-wrapper">
        <ul class="category-list">
            @@include('Catalog/category-list/category-list-item/index.html',{
                "category-pic":"/static/images/Category/category1.jpg",
                "category-text":"Apparel kids",
                "list-item":"list-item-1",
                "href":"#"
              })
              @@include('Catalog/category-list/category-list-item/index.html',{
                "category-pic":"/static/images/Category/category2.jpg",
                "category-text":"Holiday shop",
                "list-item":"list-item-2",
                "href":"#"
              })
              @@include('Catalog/category-list/category-list-item/index.html',{
                "category-pic":"/static/images/Category/category3.jpg",
                "category-text":"Toys",
                "list-item":"list-item-3",
                "href":"/pages/toys/index.html"
              })
        </ul>
    </div>
    <div class="category-wrapper block">
        <ul class="category-list">
            @@include('Catalog/category-list/category-list-item/index.html',{
                "category-pic":"/static/images/Category/category4.jpg",
                "category-text":"Accessories",
                "list-item":"list-item-4",
                "href":"#"
              })
              @@include('Catalog/category-list/category-list-item/index.html',{
                "category-pic":"/static/images/Category/category5.jpg",
                "category-text":"Sale",
                "list-item":"list-item-5",
                "href":"#"
              })
              @@include('Catalog/category-list/category-list-item/index.html',{
                "category-pic":"/static/images/Category/category6.jpg",
                "category-text":"Apparel adults",
                "list-item":"list-item-6",
                "href":"#"
              })
        </ul>
    </div>
</section>