<section class="category">
    <div class="category-wrapper">
        <ul class="category-list">
            @@include('category-list-item/index.html',{
                "category-pic":"/static/images/Category/category1.jpg",
                "category-text":"Apparel kids",
                "href":"#",
                "item-text":"item-1-text"
              })
              @@include('category-list-item/index.html',{
                "category-pic":"/static/images/Category/category2.jpg",
                "category-text":"Holiday shop",
                "href":"#",
                "item-text":"item-1-text"
              })
              @@include('category-list-item/index.html',{
                "category-pic":"/static/images/Category/category3.jpg",
                "category-text":"Toys",
                "href":"/pages/toys/index.html",
                "item-text":"item-1-text"
              })
        </ul>
    </div>
    <div class="category-wrapper block">
        <ul class="category-list">
            @@include('category-list-item/index.html',{
                "category-pic":"/static/images/Category/category4.jpg",
                "category-text":"Accessories",
                "href":"#",
                "item-text":"item-2-text"
              })
              @@include('category-list-item/index.html',{
                "category-pic":"/static/images/Category/category5.jpg",
                "category-text":"Sale",
                "href":"#",
                "item-text":"item-1-text"
              })
              @@include('category-list-item/index.html',{
                "category-pic":"/static/images/Category/category6.jpg",
                "category-text":"Apparel adults",
                "href":"#",
                "item-text":"item-1-text"
              })
        </ul>
    </div>
</section>