<div class="pagination container">
<button class="pagination__left" type="button" aria-label="scroll-left"></button>
<ul class="pagination__list">
    <li class="pagination__item">
        <a href="#" aria-label="page 1" class="pagination__item_active">1</a>
    </li>
    <li class="pagination__item">
        <a href="#" aria-label="page 2">2</a>
    </li>
    <li class="pagination__item">
        <a href="#" aria-label="page 3">3</a>
    </li>
    <li class="pagination__item">
        <a href="#" aria-label="page 4">4</a>
    </li>
</ul>
<button class="pagination__right" type="button" aria-label="scroll-right"></button>
</div>