/* Секция о компании About Us */
.about {
    margin-top: 87px;
    margin-bottom: 56px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.desc-name {
    margin-top: 12px;
}
.desc1 {
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 29px;
    width: 483px;
}
.about-company-contacts {
    margin-bottom: 18px;
    margin-top: -25px;
    margin-left: 30px;
}
.about-company-design {
    margin-top: -25px;
}
.about-block {
    position: relative;
    margin-right: 117px;
    background: #E1F0F7;
}
.about-company-design,
.about-btn-wrapper,
.about-company {
    margin-left: 30px;
}
.about-company {
    margin-right: 30px;
}
.about-btn-wrapper {
    margin-bottom: 35px;
}
.about-btn {
    display: block;
    width: 123px;
}
.about-iframe {
    margin-left: 30px;
    margin-bottom: -180px;
}
.main-banner {
    margin-bottom: 91px;
    background-color: #EEE4DB;
}
.lead {
    padding-top: 12px;
    margin-bottom: 10px;
    margin-left: 31px;
    width: 61px;
    height: 74px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 73px;
    color: #1e06060d;
  }

/*  */
.slide-title {
    width: 307px;
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 44px;
    text-transform: uppercase;
  }
  
.slide-paragraf {
    margin-top: 20px;
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    width: 200px;
  }
.line-paragraf {
    padding-top: 12px;
    padding-bottom: 11px;
    margin-top: 89px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #C29974;
  }
.line-list-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 31px;
  }
  
.slide-title-wrapper {
    margin-left: 71px;
  }
.slide-title-wrapper::after { 
    content: '';
    position: absolute;
    display: block;
    right: 98px;
    top: -179px;
    width: 636px;
    height: 461px;
    background: url('/static/images/monstr.png') no-repeat;
    z-index: 0;
  }
.line-monstr-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;  
  }
/* Секция с Категориями*/
.category-title {
    margin-bottom: 20px;
    }
.category-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    }
/* картинки */
.category-slide-wrapper {
    margin-left: 16px;
    margin-top: -3px;
    width: 580px;
    }
.arrows-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    }
.arrow {
    padding: 0px;
    margin-right: 3px;
    border: none;
    background: none;
    }
/* Партнеры */
.company-pic {
    margin-top: 92px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Секция История Delivery */
.information {
    margin-top: 90px;
    display: flex;
}
.information-pictures {
    width: 480px;
    height: 559px;
    margin-right: 121px;
}
.information-name {
    margin-top: 31px;
}

.information-delivery {
    margin-bottom: 36px;
    width: 480px;
}
/* заголовок секций */
.category-title {
    margin-top: 22px;
  }
.title-active {
    font-weight: bold;
}
.title {
    position: relative;
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
}
.title-active::before {
    content: '';
    position: absolute;
    width: 326px;
    height: 55px;
    right: -180px;
    top: -16px;
    background: #70bbdc33;
    z-index: -1;
}