/* Секция о компании About Us */
.about {
    margin-top: 87px;
    margin-bottom: 56px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.desc-name {
    margin-top: 12px;
}
.desc1 {
    margin-left: 30px;
    margin-top: 7px;
    margin-bottom: 29px;
    width: 483px;
}
.about-company-contacts {
    margin-bottom: 18px;
    margin-top: -25px;
    margin-left: 30px;
}
.about-company-design {
    margin-top: -25px;
}
.about-block {
    position: relative;
    margin-right: 117px;
    background: #E1F0F7;
}
.about-company-design,
.about-btn-wrapper,
.about-company {
    margin-left: 30px;
}
.about-company {
    margin-right: 30px;
}
.about-btn-wrapper {
    margin-bottom: 35px;
}
.about-btn {
    display: block;
    width: 123px;
}
.about-iframe {
    margin-left: 30px;
    margin-bottom: -180px;
}
