.catalog__title,
.category__card-title {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}
/* .apparel-bckgrnd {
    background-color: #DBE4DB;
}
.holiday-bckgrnd {
   background-color: #EADDD3;
}
.toys-bckgrnd {
    background-color: #F8F2DA;
}
.accessories-bckgrnd {
    background-color: #D5D4E1;
}
.sale-bckgrnd {
    background-color: #F3D0DB;
  }
.adults-bckgrnd {
    background-color: #E5EAF8;
}
.apparel-bckgrnd,
.holiday-bckgrnd,
.toys-bckgrnd,
.accessories-bckgrnd,
.sale-bckgrnd,
.adults-bckgrnd {
height: 100%;
width: 100%;
}
 */