/* Линии */
.line {
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #D6CAC2;
    border: none;
    cursor: pointer;
  }
.line:hover,
.line:active,
.line:focus {
    background-color: #1e060699;
    cursor: pointer;
  }
.line-slide {
    display: flex;
    width: 31px;
    height: 3px;
    margin-top: 11px;
  }