/* заголовок секций */
.category-title {
    margin-top: 22px;
  }
/* Секция История Delivery */
.information {
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.information-pictures {
    width: 480px;
    height: 559px;
    margin-right: 121px;
}
.information-name {
    margin-top: 31px;
}

.title-active {
    font-weight: bold;
}
.title {
    position: relative;
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
}
.title-active::before {
    content: '';
    position: absolute;
    width: 326px;
    height: 55px;
    right: -180px;
    top: -16px;
    background: #70bbdc33;
    z-index: -1;
}
.information-delivery-some {
    margin-top: 28px;
    margin-bottom: 14px;
    width: 480px;
}
.information-delivery-what {
    margin-bottom: 36px;
    width: 480px;
}