<section class="information container">
    <img class="information-pictures pictures" src="/static/images/main-information/history-pictures.jpg" alt="">
    <div>
        <h2 class="information-name caption">Delivery</h2>
        <ul class="information-list">
            <li class="category-title"> <a href="#" class="title-active title">Delivery</a></li>
            <li class="category-title"> <a href="#" class="title">Guarantee</a></li>
            <li class="category-title"> <a href="#" class="title">Credit</a></li>
        </ul>
        <p class="information-delivery-some">Some days i feel like i've been working on dlk my entire life
            and there are other days that i am completely shocked that four years have flown by. It's simply
            magical.
        </p>
        <p class="information-delivery-what">What started as an outlet to deal with the traumatic loss of my
            husband, dlk has now become a truly happy place for me and i have you and all of the beautiful
            designers that we work with
            to thank!
        </p>
        <a class="btn" href="#">Learn more</a>
    </div>
</section>