<section class="container">
    <div class="main-banner">
        <p class="lead"><span>01</span></p>
        <div class="line-monstr-wrapper">
            <div class="line-list-wrapper">
                <ol class="line-list">
                    <li class="line-slide">
                        <button class="line" type="button" autofocus></button>
                    </li>
                    <li class="line-slide">
                        <button class="line" type="button"></button>
                    </li>
                    <li class="line-slide">
                        <button class="line" type="button"></button>
                    </li>
                    <li class="line-slide">
                        <button class="line" type="button"></button>
                    </li>
                </ol>
            </div>
            <div class="slide-title-wrapper">
                <h1 class="slide-title">The ooh noo collection</h1>
                <p class="slide-paragraf">Disigned in Slovenia</p>
                @@include('btn/index.html')
            </div>
        </div>
        <p class="line-paragraf">Free (continental) USA shipping on all orders of $100 USD or more!</p>
    </div>
</section>