  <a href="/index.html" class="header-logo">
      <span class="visually-hidden">Go to main page</span>
      <img src="/static/images/logo-header.jpg" alt="logo" class="pictures">
  </a>
  <nav class="menu-nav">
      <ul class="menu-list">
          <li class="menu-item">
              <a class="nav-item" href="/pages/blog/index.html">Blog</a>
          </li>
          <li class="menu-item">
              <a class="nav-item" href="/pages/catalog/index.html">Catalog</a>
          </li>
          <li class="menu-item">
              <a class="nav-item" href="#">About us</a>
          </li>
      </ul>
  </nav>
  <a href="#" class="header-search">
      <img src="/static/images/search.jpg" alt="search" class="pictures">
  </a>

