 /* Общие стили для всего сайта */

 *, *::after, *::before {
  box-sizing: border-box;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p, h1, h2, h3, h4 {
  margin: 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 110px;
}
button {
  cursor: pointer;
}
 /* Fonts */
 body { 
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606; 
}
a {
  text-decoration: none;
}
/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* картинки */
.pictures {
  display: block;
  max-width: 100%;
}

/* заголовки */
.caption {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
}

// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./main/main-baner/baner";
@import "./main/main-category-product/category-product";
@import "./main/main-information/information";
@import "./main/main-baner/baner";
@import "./main/main-company/company";
@import "./main/main-about/about";
@import "./main/main-popup/popup";
@import "./btn/btn";
@import "./subtitle/subtitle";
@import "./breadcrumbs/breadcrumbs";
@import "./blog/blog-desc-section/blog-desc-section";
@import "./blog/blog-desc-section/blog-desc/blog-desc";
@import "./pagination/pagination";
@import "./category-list-item/category-list-item";
@import "./catalog/category-list/category-list";
@import "./catalog/category-preview/preview";
@import "./contactus/contactus-text/contactus-text";
@import "./toy/toy-form/toy-form";
@import "./toy/toy-items/toy-items";