/* General */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
ul {
  list-style-type: none;
}
h1, h2, h3, p, ul, fieldset, button { 
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
a {
  text-decoration: none;
}
.txt {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #1E0606;

}
button {
  cursor: pointer;
}
.heading {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  color: #1E0606;
  text-transform: uppercase;
}
*,
*::after,
*::before {
  box-sizing: border-box; 
}
.container {
  min-width: 320px;
  padding: 0 110px;
  max-width: 1400px;
  margin: 0 auto;
}
fieldset {
border: 0;
}
@media (max-width: 1319px) {
  .container {
    padding: 0 60px;
  }
  .heading {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 767px){
  .container {
    padding: 0 20px;
  }
  .heading {
    font-size: 24px;
    line-height: 44px;
  }
}
// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./button/button";
@import "./link-button/link-button";
@import "./popup/popup";
@import "./sub-heading/sub-heading";
@import "./catalog-card/catalog-card";
@import "./control-button/control-button";
@import "./breadcrumbs/breadcrumbs";
@import "./stars/stars";

