<footer class="footer">
  <div class="footer__wrapper container">
      <div class="footer__title-wrapper">
          <h2 class="footer__title footer-title">Navigation</h2>
          <h2 class="footer__title footer-title"> Information</h2>
          <h2 class="footer__title footer-title">Connect</h2>
      </div>
      <div class="footer__menu">
          <div class="footer__navigation">
              <ul class="footer__list">
                  <li class="footer__item">
                      <a href="#" class="footer__link">About Us</a>
                  </li>
                  <li class="footer__item">
                      <a href="../blog/index.html" class="footer__link">Blog</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Design Services</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Featured On</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">2018 Holiday Catalog</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Shop By Designer</a>
                  </li>
              </ul>
          </div>
          <div class="footer__customer">
              <ul class="footer__list">
                  <li class="footer__item">
                      <a href="../contact/index.html" class="footer__link">Contact Us</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Sale Exclusions</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Shipping & Returns</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Terms & Conditions</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Privacy Policy</a>
                  </li>
                  <li class="footer__item">
                      <a href="#" class="footer__link">Search</a>
                  </li>
              </ul>
          </div>
          <div class="footer__connect">
              <div class="footer__connect-wrapper">
                  <input id="connect-email-input" type="email" placeholder="Email" class="footer__connect-input">
                  <label for="connect-email-input" class="visually-hidden">Email</label>
                  @@include('button/index.html', {
                    'text': 'Join',
                    'class': 'footer__connect-button button-style',
                    'type' : 'button'
                    })
              </div>
              <ul class="footer__connect-list">
                  <li class="footer__connect-item other-color">
                      <a href="#" class="footer__connect-link" aria-label="Follow Us on Facebook">
                          <img src="../../static/images/footer/Facebook.svg" alt="facebook" width="30"
                              height="30" class="footer__connect-img">
                      </a>
                  </li>
                  <li class="footer__connect-item other-color">
                      <a href="#" class="footer__connect-link" aria-label="Follow Us on Twitter">
                          <img src="../../static/images/footer/Twitter.svg" alt="twitter" width="30"
                              height="30" class="footer__connect-img">
                      </a>
                  </li>
                  <li class="footer__connect-item other-color">
                      <a href="#" class="footer__connect-link" aria-label="Follow Us on Pinterest">
                          <img src="../../static/images/footer/Pinterest.svg" alt="pinterest" width="30"
                              height="30" class="footer__connect-img">
                      </a>
                  </li>
                  <li class="footer__connect-item other-color">
                      <a href="#" class="footer__connect-link" aria-label="Follow Us on Instagram">
                          <img src="../../static/images/footer/Instagram.svg" alt="instagram" width="30"
                              height="30" class="footer__connect-img">
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="footer__bottom">
          <fieldset class="footer__rating">
              <legend class="footer__rating-title footer-items">Company Rating</legend>
              @@include('stars/index.html', {
                'class': 'footer',
                'classInput' : 'footer'
            })
          </fieldset>
          <div class="footer__bottom-wrapper">
          <div class="footer__copyright">
              <p class="footer__copyright-txt footer-items">Copyright © 2018 Dlk • Design Life Kids</p>
          </div>
          <div class="footer__design">
              <a href="https://directline.digital/" class="footer__design-link other-color">Web Design — Direct Line
                  Development</a>
          </div>
          </div>
      </div>
    </div>
</footer>

<footer class="footer-mobile">
    <div class="footer-mobile__wrapper container">
        <div class="footer-mobile__menu">
            <div class="footer-mobile__navigation">
                <h2 class="footer-mobile__title footer-title">Navigation</h2>
                <ul class="footer-mobile__list">
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">About Us</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="/pages/blog/index.html" class="footer-mobile__link">Blog</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">Design Services</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">Featured On</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">2018 Holiday Catalog</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">Shop By Designer</a>
                    </li>
                </ul>
            </div>
            <div class="footer-mobile__customer">
                <h2 class="footer-mobile__title footer-title"> Information</h2>
                <ul class="footer-mobile__list">
                    <li class="footer-mobile__item">
                        <a href="/pages/contact/index.html" class="footer-mobile__link">Contact Us</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">Sale Exclusions</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">Shipping & Returns</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">Terms & Conditions</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">Privacy Policy</a>
                    </li>
                    <li class="footer-mobile__item">
                        <a href="#" class="footer-mobile__link">Search</a>
                    </li>
                </ul>
            </div>
            <div class="footer-mobile__connect">
                <h2 class="footer-mobile__title footer-title">Connect</h2>
                <div class="footer-mobile__connect-wrapper">
                    <input id="connect-email-input-mobile" type="email" placeholder="Email" class="footer-mobile__connect-input">
                    <label for="connect-email-input-mobile" class="visually-hidden">Email</label>
                    @@include('button/index.html', {
                      'text': 'Join',
                      'class': 'footer-mobile__connect-button button-style',
                      'type' : 'button'
                      })
                </div>
                <ul class="footer-mobile__connect-list">
                    <li class="footer-mobile__connect-item other-color">
                        <a href="#" class="footer-mobile__connect-link" aria-label="Follow Us on Facebook">
                            <img src="../../static/images/footer/Facebook.svg" alt="facebook" width="30"
                                height="30" class="footer-mobile__connect-img">
                        </a>
                    </li>
                    <li class="footer-mobile__connect-item other-color">
                        <a href="#" class="footer-mobile__connect-link" aria-label="Follow Us on Twitter">
                            <img src="../../static/images/footer/Twitter.svg" alt="twitter" width="30"
                                height="30" class="footer-mobile__connect-img">
                        </a>
                    </li>
                    <li class="footer-mobile__connect-item other-color">
                        <a href="#" class="footer-mobile__connect-link" aria-label="Follow Us on Pinterest">
                            <img src="../../static/images/footer/Pinterest.svg" alt="pinterest" width="30"
                                height="30" class="footer-mobile__connect-img">
                        </a>
                    </li>
                    <li class="footer-mobile__connect-item other-color">
                        <a href="#" class="footer-mobile__connect-link" aria-label="Follow Us on Instagram">
                            <img src="../../static/images/footer/Instagram.svg" alt="instagram" width="30"
                                height="30" class="footer-mobile__connect-img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-mobile__bottom">
            <fieldset class="footer-mobile__rating">
                <legend class="footer-mobile__rating-title footer-items">Company Rating</legend>
                @@include('stars/index.html', {
                    'class': 'footer-mobile',
                    'classInput' : 'footer-mobile'
                })
            </fieldset>
            <div class="footer-mobile__bottom-wrapper">
            <div class="footer-mobile__copyright">
                <p class="footer-mobile__copyright-txt footer-items">Copyright © 2018 Dlk • Design Life Kids</p>
            </div>
            <div class="footer-mobile__design">
                <a href="https://directline.digital/" class="footer-mobile__design-link other-color">Web Design — Direct Line
                    Development</a>
            </div>
            </div>
        </div>
    </div>
  </footer>
