/* Описание продукта */
.preview {
    margin-left: 200px;
    margin-top: 53px;
    width: 680px;
}
.history-delivery-interactive {
    margin-top: 23px;
}
.history-delivery-toy {
    margin-top: 15px;
    margin-bottom: 15px;
}
.history-delivery-miniature {
    margin-bottom: 55px;
}