<section class="preview">
    <h2 class="categoty-title caption">Product Description</h2>
    @@include('catalog/category-preview/preview-history/index.html',{
        "preview-class":"history-delivery-interactive",
        "preview-text":"Interactive doll Zapf Creation Baby Born Sister can drink from a bottle and almost really cry. You can even bathe her, just like a little sister."
    })
    @@include('catalog/category-preview/preview-history/index.html',{
        "preview-class":"history-delivery-toy",
        "preview-text":"A toy with a height of 43 cm bends its knees, the head rotates, it can stand upright. Such a doll will be an excellent choice for a gift for a girl from 4 years old."
    })
    @@include('catalog/category-preview/preview-history/index.html',{
        "preview-class":"history-delivery-miniature",
        "preview-text":"The set includes a miniature set of fashionable clothes, a hairbrush, a bottle for water, a pair of hairpins and elastic bands for hair, as well as two bracelets: one for the doll, the other for her young mistress."
    })
</section>